body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
    background: #fafafa;
}

.container {
    width: 100%;
    text-align: center;
    margin-top: 60px;
}

.emergency-btn {
    background: #d93d33;
    color: white;
    font-size: 32px;
    font-weight: bold;
    border: none;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.options {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.option-btn {
    width: 80%;
    max-width: 350px;
    padding: 18px;
    background: white;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.12);
    cursor: pointer;
}

.icon {
    font-size: 22px;
}

.status {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #555;
}

/* MAIN BUTTON STATES */
.main-btn-normal {
    background: #2ecc71;
    color: white;
    font-size: 32px;
    font-weight: bold;
    border: none;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.main-btn-emergency {
    background: #d93d33;
}

.main-btn-canceling {
    background: orange;
}

/* Big 911 Button */
.big-option-btn {
    width: 80%;
    max-width: 350px;
    padding: 30px;
    background: #ff3b30;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 26px;
    font-weight: bold;
    margin-top: 40px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.18);
    cursor: pointer;
}

.status-text {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #333;
}

#main-btn {
    display: block;
    margin: 0 auto;
}

.call-btn {
    font-size: 20px;
    font-weight: bold;
    padding: 22px;
}
